body {
  margin: 0px;
  text-align: center;
  font-size: 2em;
}



p {
  margin: 0px;
  padding: 0px;
  color: #2e5353;
}

hr {
  border-top: dotted 13px;
  border-style: dotted none none;
  width: 7%;
  color: #dff5f5;
  background-color: transparent;
  margin-top: 150px;
  position: relative;
  bottom: 0px;
}

section {
  min-height: 100vh;
  padding: 2rem 9% 1rem;
}

footer {
  height: 70px;
  background-color: #2e5353;
  opacity: 0.7;
  padding-top: 25px;
  padding-bottom: 0px;
}

.navbar {
  position: absolute;
}

.intro {
  background-color: aquamarine;
  position:relative;

}

.fin-intro {
  background: linear-gradient(to bottom, aquamarine, white 50px);
}

.top_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.div_left{
  display: flex;
  align-items: end;
}
.div_mid{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.montain {
  width: 1000px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.cloud1 {
  width: 200px;

}

.cloud2 {
  width: 200px;
}

.my-name {
  margin-top: 130px;
  margin-bottom: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: #66bfbf;
  /* display: block; */
}
.prof{
  /* display: block; */
  margin-bottom: 100px;
}

.spacing-items {
  margin-top: 50px;
}

.avatar {
  border: none;
  border-radius: 50%;
  width: 200px;
  margin-top: 100px;
}

.subdescription {
  font-size: 30px;
  padding: 25px;
}

.dev-right {
  padding-left: 190px;
  padding-right: 190px;
  margin-top: 60px;
  text-align: left;
}

.dev-left {
  padding-left: 190px;
  padding-right: 190px;
  margin-top: 50px;
  text-align: right;
}

.giphy-right {
  margin-top: 0px;
  float: left;
  margin-right: 15px;
}

.giphy-left {
  margin-top: 0px;
  float: right;
  margin-left: 15px;
}

.giphy:not(.nohover):hover {
  background-color: transparent !important;
  Cursor: text !important;
  Text-Decoration: None !important;
  pointer-events: none;

}

.skills {
  margin-bottom: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: #66bfbf;
  margin-top: 0;
}

.description-title {
  padding-top: 60px;
  font-size: 24px;
}




.log_user {

  margin: 12em auto 0em auto;
  padding: 0px;
  font-size: 18px;
  height: 50px;
  width: 195px;
  display: block;
  transition: .35s;
  cursor: pointer;
  border-radius: 7px;

}

.log_user:hover {
  opacity: .6;
  transform: scale(0.9);
}

.log_user:active {
  opacity: 1;
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  transition: 0s;
}


/* User Login popup */
/* This is the user */


.popupUser {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  width: 300px;

}

.popupUser form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.overlayUser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;

}

h2 {
  margin-top: 0;
  justify-items: center;

}

label {
  display: block;
  justify-items: center;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 200px;
  padding: 10px;
  border: 2px solid #aab1aa;
  border-radius: 5px;
  margin-bottom: 10px;

}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  justify-items: center;
}

.closeUser {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  text-decoration: none;
}

.open-buttonUser {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  justify-items: center;
}

.open-buttonUser:hover {
  background-color: #3e8e41;
}

.open-buttonUser:focus {
  outline: none;
}

.contacts {
  font-size: 16px;
}

.admin {
  margin: 10px auto 4px auto;
  margin-top: 100px;
}

.line {
  border-top: 13px;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  color: #000000;
  background-color: solid;
  margin-top: 2px;
  position: relative;
  bottom: 0px;

}

.footer-text {
  font-size: 10px;
  color: #fff;
  margin-top: 45px;
  margin-right: 15px;
}

.footer-div {
  position: absolute;
  right: 5px;
  display: inline-block;
}

.linkedinlogo {
  width: 150px;
  margin: 0px 0px 5px 0px;
  border: #000000 solid;
  box-shadow: 0 0 1rem rgb(255, 255, 255);
  padding: 4px;
  transition: .5s ease;
  display: inline-block;

}

.linkedinlogo:hover {
  border: #214b22;
  box-shadow: 0 0 2rem black;
  border-radius: 15px;

}